<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if context_value %}
        <ul class="list-group">
            {% for e in context_value %}
                <li class="list-group-item">
                    <a class="align-right" href="articles/{{ e.slug }}"> <h2>{{ e.title }}</h2></a>
                    <p>{{ e.context|truncatechars:100 }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
        </div>
    <div class="col-md-6">
       {% load socialaccount %}
        <h2><a title="VK" class="socialaccount_provider vk" href="/accounts/vk/login/?process=login">VK</a></h2>
        <h2><a href="login/">login</a>
        </h2>
</div>
    </div>
        </div>

</body>
</html>