{% extends 'admin/admin.html' %}

{% block content %}

    <div class="text-center">
        <h2>Ваши статьи</h2>
        <form action="http://127.0.0.1:8000/admin/articles/add/" method="post">
            {% csrf_token %}

            <input type="submit" class="btn btn-danger" value=" Добавить статью " name="mybtn">
            
        </form>
        

    {% if context_value %}
        <ul class="list-group">
            {% for e in context_value %}
                <li class="list-group-item">
                    {{ e.context  }}
                    {{ e.title }}
                    {{ e.slug }}
                       <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="align-right btn btn-danger" href="http://127.0.0.1:8000/admin/articles_del/{{ e.context }}"> Удалить </a>
                                <a class="align-right btn btn-info" href="http://127.0.0.1:8000/admin/articles/edit/{{ e.slug }}"> Редактировать </a>
                                <a class="align-right btn btn-success" href="http://127.0.0.1:8000/articles/{{ e.slug }}"> Просмотреть </a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>

{% endblock %}